<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.duoc.mappers.ActividadaportesMapper">
  <resultMap id="BaseResultMap" type="com.duoc.domain.Actividadaportes">
    <id column="IDACTIVIDADAPORTES" jdbcType="DECIMAL" property="idactividadaportes" />
    <id column="IDCUENTAALUMNOS" jdbcType="DECIMAL" property="idcuentaalumnos" />
    <result column="FECHA" jdbcType="TIMESTAMP" property="fecha" />
    <result column="MONTO" jdbcType="DECIMAL" property="monto" />
  </resultMap>
 
</mapper>