<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.duoc.mappers.ActividadMapper">
  <resultMap id="BaseResultMap" type="com.duoc.domain.Actividad">
    <id column="IDACTIVIDAD" jdbcType="DECIMAL" property="idactividad" />
    <result column="IDCURSO" jdbcType="DECIMAL" property="idcurso" />
    <result column="IDTIPOACTIVIDAD" jdbcType="DECIMAL" property="idtipoactividad" />
    <result column="NOMBRE" jdbcType="VARCHAR" property="nombre" />
    <result column="FECHAINICIO" jdbcType="TIMESTAMP" property="fechainicio" />
    <result column="FECHATERMINO" jdbcType="TIMESTAMP" property="fechatermino" />
    <result column="CANTIDADPERSONA" jdbcType="DECIMAL" property="cantidadpersona" />
    <result column="MONTORECAUDADO" jdbcType="DECIMAL" property="montorecaudado" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    IDACTIVIDAD, IDCURSO, IDTIPOACTIVIDAD, NOMBRE, FECHAINICIO, FECHATERMINO, CANTIDADPERSONA, 
    MONTORECAUDADO
  </sql>
  <select id="selectByExample" parameterType="com.duoc.domain.ActividadCriteria" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ACTIVIDAD
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="com.duoc.domain.ActividadKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ACTIVIDAD
    where IDACTIVIDAD = #{idactividad,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.duoc.domain.ActividadKey">
    delete from ACTIVIDAD
    where IDACTIVIDAD = #{idactividad,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.duoc.domain.ActividadCriteria">
    delete from ACTIVIDAD
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.duoc.domain.Actividad">
    insert into ACTIVIDAD (IDACTIVIDAD, IDCURSO, IDTIPOACTIVIDAD, 
      NOMBRE, FECHAINICIO, FECHATERMINO, 
      CANTIDADPERSONA, MONTORECAUDADO)
    values (#{idactividad,jdbcType=DECIMAL}, #{idcurso,jdbcType=DECIMAL}, #{idtipoactividad,jdbcType=DECIMAL}, 
      #{nombre,jdbcType=VARCHAR}, #{fechainicio,jdbcType=TIMESTAMP}, #{fechatermino,jdbcType=TIMESTAMP}, 
      #{cantidadpersona,jdbcType=DECIMAL}, #{montorecaudado,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.duoc.domain.Actividad">
    insert into ACTIVIDAD
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="idactividad != null">
        IDACTIVIDAD,
      </if>
      <if test="idcurso != null">
        IDCURSO,
      </if>
      <if test="idtipoactividad != null">
        IDTIPOACTIVIDAD,
      </if>
      <if test="nombre != null">
        NOMBRE,
      </if>
      <if test="fechainicio != null">
        FECHAINICIO,
      </if>
      <if test="fechatermino != null">
        FECHATERMINO,
      </if>
      <if test="cantidadpersona != null">
        CANTIDADPERSONA,
      </if>
      <if test="montorecaudado != null">
        MONTORECAUDADO,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="idactividad != null">
        #{idactividad,jdbcType=DECIMAL},
      </if>
      <if test="idcurso != null">
        #{idcurso,jdbcType=DECIMAL},
      </if>
      <if test="idtipoactividad != null">
        #{idtipoactividad,jdbcType=DECIMAL},
      </if>
      <if test="nombre != null">
        #{nombre,jdbcType=VARCHAR},
      </if>
      <if test="fechainicio != null">
        #{fechainicio,jdbcType=TIMESTAMP},
      </if>
      <if test="fechatermino != null">
        #{fechatermino,jdbcType=TIMESTAMP},
      </if>
      <if test="cantidadpersona != null">
        #{cantidadpersona,jdbcType=DECIMAL},
      </if>
      <if test="montorecaudado != null">
        #{montorecaudado,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.duoc.domain.ActividadCriteria" resultType="java.lang.Long">
    select count(*) from ACTIVIDAD
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update ACTIVIDAD
    <set>
      <if test="record.idactividad != null">
        IDACTIVIDAD = #{record.idactividad,jdbcType=DECIMAL},
      </if>
      <if test="record.idcurso != null">
        IDCURSO = #{record.idcurso,jdbcType=DECIMAL},
      </if>
      <if test="record.idtipoactividad != null">
        IDTIPOACTIVIDAD = #{record.idtipoactividad,jdbcType=DECIMAL},
      </if>
      <if test="record.nombre != null">
        NOMBRE = #{record.nombre,jdbcType=VARCHAR},
      </if>
      <if test="record.fechainicio != null">
        FECHAINICIO = #{record.fechainicio,jdbcType=TIMESTAMP},
      </if>
      <if test="record.fechatermino != null">
        FECHATERMINO = #{record.fechatermino,jdbcType=TIMESTAMP},
      </if>
      <if test="record.cantidadpersona != null">
        CANTIDADPERSONA = #{record.cantidadpersona,jdbcType=DECIMAL},
      </if>
      <if test="record.montorecaudado != null">
        MONTORECAUDADO = #{record.montorecaudado,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update ACTIVIDAD
    set IDACTIVIDAD = #{record.idactividad,jdbcType=DECIMAL},
      IDCURSO = #{record.idcurso,jdbcType=DECIMAL},
      IDTIPOACTIVIDAD = #{record.idtipoactividad,jdbcType=DECIMAL},
      NOMBRE = #{record.nombre,jdbcType=VARCHAR},
      FECHAINICIO = #{record.fechainicio,jdbcType=TIMESTAMP},
      FECHATERMINO = #{record.fechatermino,jdbcType=TIMESTAMP},
      CANTIDADPERSONA = #{record.cantidadpersona,jdbcType=DECIMAL},
      MONTORECAUDADO = #{record.montorecaudado,jdbcType=DECIMAL}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.duoc.domain.Actividad">
    update ACTIVIDAD
    <set>
      <if test="idcurso != null">
        IDCURSO = #{idcurso,jdbcType=DECIMAL},
      </if>
      <if test="idtipoactividad != null">
        IDTIPOACTIVIDAD = #{idtipoactividad,jdbcType=DECIMAL},
      </if>
      <if test="nombre != null">
        NOMBRE = #{nombre,jdbcType=VARCHAR},
      </if>
      <if test="fechainicio != null">
        FECHAINICIO = #{fechainicio,jdbcType=TIMESTAMP},
      </if>
      <if test="fechatermino != null">
        FECHATERMINO = #{fechatermino,jdbcType=TIMESTAMP},
      </if>
      <if test="cantidadpersona != null">
        CANTIDADPERSONA = #{cantidadpersona,jdbcType=DECIMAL},
      </if>
      <if test="montorecaudado != null">
        MONTORECAUDADO = #{montorecaudado,jdbcType=DECIMAL},
      </if>
    </set>
    where IDACTIVIDAD = #{idactividad,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.duoc.domain.Actividad">
    update ACTIVIDAD
    set IDCURSO = #{idcurso,jdbcType=DECIMAL},
      IDTIPOACTIVIDAD = #{idtipoactividad,jdbcType=DECIMAL},
      NOMBRE = #{nombre,jdbcType=VARCHAR},
      FECHAINICIO = #{fechainicio,jdbcType=TIMESTAMP},
      FECHATERMINO = #{fechatermino,jdbcType=TIMESTAMP},
      CANTIDADPERSONA = #{cantidadpersona,jdbcType=DECIMAL},
      MONTORECAUDADO = #{montorecaudado,jdbcType=DECIMAL}
    where IDACTIVIDAD = #{idactividad,jdbcType=DECIMAL}
  </update>
</mapper>