<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.duoc.mappers.ColaboradorMapper">
    <resultMap id="BaseResultMap" type="com.duoc.domain.Colaborador">
        <id column="IDCOLABORADOR" jdbcType="DECIMAL" property="idcolaborador" />
        <result column="NOMBRE" jdbcType="VARCHAR" property="nombre" />
        <result column="DIRECCION" jdbcType="VARCHAR" property="direccion" />
        <result column="TELEFONO" jdbcType="DECIMAL" property="telefono" />
        <result column="IDCUENTAUSUARIO" jdbcType="DECIMAL" property="idcuentausuario" />
        <result column="IDTIPOCOLABORADOR" jdbcType="DECIMAL" property="idtipocolaborador" />
        <result column="RUT" jdbcType="VARCHAR" property="rut" />
    </resultMap>
    
    <select 
        id="INSERT_COLABORADOR" 
        statementType="CALLABLE" 
        parameterType="java.util.Map">
        {CALL INSERT_COLABORADOR(
        #{idColaborador,mode=OUT,jdbcType=DECIMAL,javaType=java.lang.Integer},
        #{nombre,mode=IN,jdbcType=NVARCHAR},
        #{telefono,jdbcType=DECIMAL,mode=IN},
        #{idCuentausuario,jdbcType=DECIMAL,mode=IN},
        #{idTipocolaborador,jdbcType=DECIMAL,mode=IN},
        #{rut,jdbcType=NVARCHAR,mode=IN},
        #{apellidoPat,jdbcType=NVARCHAR,mode=IN},
        #{apellidoMat,jdbcType=NVARCHAR,mode=IN}
        )}  
    </select>
    
</mapper>